{% extends "layout.html" %} {% block content %} {% include "partials/slider.html" %}

<section class="section section-about">

    <div class="container">

        <h2 class="section-title red">Fiat Lux</h2>
        <p class="section-description">A Fiat Lux modernizou-se e hoje oferece lâmpadas LED e fluorescentes compactas; aparelhos de barbear, pilhas, acendedores,
            isqueiros e, claro, continua sendo campeã de mercado com os tradicionais fósforos e palitos de madeira. A marca
            busca atender às necessidades do seu dia a dia, trazendo qualidade e praticidade. Por isso, além dos produtos
            que já estão presentes em muitos lares brasileiros, a Fiat Lux traz lançamentos que também vão fazer parte da
            rotina da sua família.</p>
        <a href="#" class="button">Quero saber mais</a>

    </div>

</section>

<section class="section section-products">

    <div class="container">

        <h2 class="section-title red">Nossos produtos</h2>
        <p class="section-description">Os produtos Fiat Lux possuem tecnologia avançada e matérias-primas criteriosamente selecionadas para obter os melhores
            resultados da categoria. Desta forma, oferece a seus consumidores produtos de alta qualidade que, além de conveniência
            e praticidade, garantem também maior segurança no manuseio.</p>

        <ul class="products-list">
            <li class="product-item bigger product-fiat-lux">
                <p class="product-name">Fiat Lux</p>
                <a href="produto_1.html" class="button">Quero saber mais</a>
            </li>
            <li class="product-item product-cricket">
                <p class="product-name">Cricket</p>
                <a href="produto_2.html" class="button">Quero saber mais</a>
            </li>
            <li class="product-item product-flexor">
                <p class="product-name">Fiat Lux - Flexor</p>
                <a href="produto_3.html" class="button">Quero saber mais</a>
            </li>
            <li class="product-item product-ilumina">
                <p class="product-name">Fiat Lux - Ilumina</p>
                <a href="produto_4.html" class="button">Quero saber mais</a>
            </li>
            <li class="product-item product-forza">
                <p class="product-name">Fiat Lux - Forza</p>
                <a href="produto_5.html" class="button">Quero saber mais</a>
            </li>
            <li class="product-item product-velas">
                <p class="product-name">Fiat Lux - Velas</p>
                <a href="produto_6.html" class="button">Quero saber mais</a>
            </li>
            <li class="product-item product-prendedores">
                <p class="product-name">Fiat Lux - Prendedores</p>
                <a href="produto_7.html" class="button">Quero saber mais</a>
            </li>
        </ul>
    </div>

</section>

<section class="section section-sustentabilidade">

    <div class="container">

        <h2 class="section-title red">Sustentabilidade</h2>
        <p class="section-description">A preocupação com a sustentabilidade na fabricação de seus produtos é o padrão no processo de produção da Swedish
            Match. Com iniciativas ousadas e engajadas em cuidar do meio ambiente, a fábrica responsável pela marca Fiat
            Lux está constantemente desenvolvendo maneiras de preservar e reconstruir as fontes de matéria-prima dos seus
            produtos.
        </p>
        <a href="#" class="button">Quero saber mais</a>

    </div>

</section>

{% include "partials/footer.html" %} {% endblock %}