$black : #000000;
$white: #ffffff;
$grey: #cccccc;
$red: #ed1c24;
$redAlpha: rgba(255,26,34,0.8);
$green: #27ae60;
$yellow: #edeb1b;

$darkBlue : #002939;
$lightBlue : #335461;

$blue: #005678;
$blueBorderColor: #337893;
$copyrightBlue: #00394f;

$inputBorder: #e1e1e1;
$inputBorderFocus: #aaa;